motor
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
git+https://github.com/freetnt5852/idioticapi
git+https://github.com/Mariobob/pynite
git+https://github.com/Nekos-life/nekos.py
git+https://github.com/anthok/overwatch-api
git+https://github.com/zdict/zdict.git
